.contact-page h2,
.contact-page h1 {
    font-size:4.0rem;
    font-weight:700;
    font-family:"PlayFair Display", serif;
} 

/* Contact Details SECTION */

.contact-details-wrap {
    width:60%;
    margin:0 auto;
    padding:100px 0 0 0;
}
.contact-details-title {
    width:50%;
    padding: 50px 0;
}
.contact-details-title p {
    padding-top:25px;
}
.contact-details-contacts {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom:30px;
}
.contact-details-list {
    width:100%;
    padding:50px;
}
.contact-details-list i {
    font-size:4.0rem;
}
.contact-details-list h3 {
    font-size:2.0rem;
    font-family:"PlayFair Display", serif;
    padding: 20px 0 20px 0;
    font-weight:700;
}

.contacts-middle {
    border-left:1px solid rgb(204,204,204);
    border-right:1px solid rgb(204,204,204);
}

/* Get In Touch SECTION */

.touch-wrap {
    width:60%;
    margin:0 auto;
}
.touch-title p {
    padding:20px 0 100px 0;
}

.touch-form input[type=text],
.touch-form input[type=email],
.touch-comment textarea {
    width:calc(33.33% - 15px);
    border:none;
    padding:10px 0;
    border-bottom:1px solid rgb(204,204,204);
    font-size:1.2rem;
}
.touch-form input[type=email] {
    margin:0 20px;
}
.touch-comment textarea {
    width:100%;
    margin-top:25px;
    font-size:1.2rem;
    font-family:"Poppins", serif;
    margin-bottom:50px;
}
.touch-button button {
    text-transform:uppercase;
    font-weight:700;
    font-size:1.4rem;
    border:none;
    background-color: white;
    margin-bottom:100px;
}

.touch-button button:after {
    content:"";
    display:block;
    width:97%;
    padding-bottom:10px;
    border-bottom: 1px solid black;
}


/* Footer IMAGE SECTION */
.end-cap-image {
    margin:0 auto;
    width:100%;
}

.end-cap-image img {
    width: 100%;
    display: block;
}

/* HOVER */
.touch-form input[type=text]:hover,
.touch-form input[type=email]:hover,
.touch-comment textarea:hover {
    color:black;
    border-bottom:1px solid black;
}

.touch-button button:hover {
    color:blue;
}

/* media queries */
@media only screen and (max-width: 1200px) {
    .contact-details-wrap,
    .touch-wrap {
        width:80%;
    }
}

@media only screen and (max-width:768px) {
    .contact-details-wrap,
    .touch-wrap {
        width:90%;
    }
    .contact-details-wrap {
        padding-top:25px;
    }
    .contact-details-title {
        width:100%;
    }
    .touch-form input[type=text],
    .touch-form input[type=email] {
        width:50%;
    }
    .touch-form input[type=email] {
        margin:0;
    }
    .touch-wrap form {
        text-align:center;
        width:100%;
    }
    .touch-title p {
        padding-bottom: 25px;
    }
    .contact-details-wrap {
        text-align:center;
    }
    .touch-wrap {
        text-align:center;
    }
    .foot-social i {
        padding: 0 0 0 10px;
    }
    .contact-details-contacts {
       display:grid;
        grid-template-columns: 1fr;
        padding-bottom:30px;
    }
    .contact-details-list {
        width: 100%;
        padding: 10px;
    }
    .contacts-middle {
        border:none;
    }
}
